body{
	font-family:arial;
	margin: 0px;
	padding:0px;
	background-color:#f4f4f4;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

header{
	background:rgb(69,90,100);
	color:#ffffff;
	padding-top:19px;
	min-height: 110px;
	border-bottom:#e8491d 1px solid;

}
header a{
	color:#ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size:17px;
}

header ul{
	margin:0;
	padding:0;


}
header li{
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}
header #branding{
	float:left;

}
header #branding h1{
	margin:0;

}
header nav{
	float:right;
}
header .highlight,header .one a{
	color: #e8491d;
	font-weight: bold;
}
.highlight{
	font-size:65px;
}
header a:hover{
	color:#cccccc;
	font-weight: bold;
}

header #search {
	float: left;
	margin-top:20px;
	margin-left: 80px;
}
header #search input[type="search"] {
	width: 210px;
	height: 35px;
	border-radius: 5px;
}
header #search input[type="search"]:hover {
	color:#cccccc;
	font-weight: bold;

}
header #search input[placeholder="search"] {
	font-size: 25px;
	text-align:center;
}
nav {
	margin-top:0px;
}
.container1 ul{
	text-decoration: none;
	list-style:none;
	position:relative;
	


		
}

.container1 ul li{
	float:left;
	width:160px;
	height:40px;
	background-image:url(images/7.jpg);
	opacity:.9;
 	line-height:40px;
 	text-align:center;
 	font-size:17px;
 	margin-right:2px;
 	text-decoration: none;
 	border-radius:4px;	
}

.container1 ul li a{
	text-decoration: none;
	color:lightgrey;
	display:block;
}

.container1 ul li a:hover{
	background-color:#669999;
	border-radius:4px;
}

.container1 ul li ul li{
	display:none;
	margin-left: -39px;
	margin-top: 0.9px;

}

.container1 ul li:hover ul li{
	display:block;

	
}
.content{
	width:100%;
	height:300px;

}
.w3{
	width:60%;
	height:200px;
	margin:auto; 
	margin-top: 80px;
	margin-left: 160px;


}

#font{

	font-family:arial;

}

#ven{
	font-family:arial; 


}


.container1{
	margin-left: 60px;


}
.mySlides{

	box-shadow:3px 3px 3px 3px grey;
	border-radius:10px;
}





